---
import { Content } from "dpe-audit-ui";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import { BottomNav } from "../Nav";
import { Dialog, DialogHeader } from "../../components/Dialog";
import "../../styles/global.css";

const pathname = Astro.url.pathname;
const hideHeaderOnMobile = ["/mon-audit", "/mes-gestes"].includes(pathname);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ambassadeurs Rénov'</title>
	</head>
	<body class="text-md bg-color">
		<Header class:list={["md:block", { hidden: hideHeaderOnMobile }]} />

		<slot />

		<BottomNav class="md:hidden" />

		<Footer />

		<Dialog name="repartition-consommations">
			<DialogHeader>💡 Consommations conventionnelles</DialogHeader>
			<Content name="consommations-energie" class="markdown-body" />
		</Dialog>
		<Dialog name="performance-enveloppe">
			<DialogHeader>💡 Performances par élément</DialogHeader>
			<Content
				name="performance-isolation-parois"
				class="markdown-body"
			/>
		</Dialog>
		<Dialog name="performance-climatique">
			<DialogHeader>💡 Performance climatique</DialogHeader>
			<Content name="etiquette-energie" class="markdown-body" />
		</Dialog>
		<Dialog name="performance-energetique">
			<DialogHeader>💡 Performance énergétique</DialogHeader>
			<Content name="etiquette-climat" class="markdown-body" />
		</Dialog>
		<Dialog name="repartition-deperditions">
			<DialogHeader>💡 Déperditions thermiques</DialogHeader>
			<Content name="deperditions-thermiques" class="markdown-body" />
		</Dialog>
		<Dialog name="confort-ete">
			<DialogHeader>💡 Confort d'été</DialogHeader>
			<Content name="confort-ete" class="markdown-body" />
		</Dialog>
		<Dialog name="performance-isolation">
			<DialogHeader>💡 Performance de l'isolation</DialogHeader>
			<Content name="performance-isolation" class="markdown-body" />
		</Dialog>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
	}
</style>
